* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
}

.homePageContainer {
  height: 100vh;
}

.aboutPageContainer {
  height: 100vh;
}

.myProjectContainer {
  height: 100vh;
}

.mySkillsContainer {
  height: 100vh;
}

.contactPageContainer {
  height: 100vh;
}